body {
  text-align: center;
  background-image: url('../images/book.jpeg');
  /* From - https://goo.gl/images/MT9zxi */
  background-size: cover;
}


form, h3 {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  max-width: fit-content;
  background-color: peru;
  border-radius: 20pt;
  padding: 20pt 50pt 35pt 50pt;
  /* top, right, bottom, left */
  border: 2pt black dotted;
  align-items:   center;
}

textarea {
  font-size: 12pt;
  rows: 8;
  columns: 80;
}

input {
  font-size: 10pt;
}

#text {
  text-align: top;
}

#result {
  min-width: 200pt;
}
